body {
    background-color: LightCyan; 
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.main-content {
    max-width: 900px; 
    margin: 0 auto;
    padding: 20px;
    background-color: white; 
}

header {
    background-color: DeepSkyBlue;
    color: white;
    text-align: center;
    padding: 30px;
}

h1
{
    font-family: 'Righteous', sans-serif;
    font-size: 3rem; 
    margin-bottom: 10px;
    color: white; 
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
}

section {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#home { background-color: LavenderBlush; } 
#about { background-color: Honeydew; } 
#projects { background-color: AliceBlue; } 
#contact { background-color: LemonChiffon;}

.projects-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.project-box {
    flex: 1;
    min-width: 200px;
    padding: 15px;
    border: 2px solid DeepSkyBlue;
    border-radius: 8px;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid Orange;
    border-radius: 5px;
}

button {
    background-color: Tomato;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: DeepSkyBlue;
    color: white;
    padding: 20px;
}

footer a { color: deepblue; }

@media (max-width: 600px) {
    .projects-flex {
        flex-direction: column;
    }
}
